<h2 class="header">Add a new LN2 Tank</h2>
@if (IsWait) {
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
}
<form [formGroup]="TankForm">
  <mat-stepper
    orientation="vertical"
    [linear]="isLinear"
    #stepper
    (selectionChange)="setIndex($event)"
    (click)="triggerClick()">
    <mat-step>
      <ng-template matStepLabel>Freezer</ng-template>
      <mat-form-field>
        <mat-label>Tank Name</mat-label>
        <input matInput placeholder="Tank name" formControlName="name" required />
      </mat-form-field>
      <p>
        <mat-form-field>
          <mat-label>Tank Capacity</mat-label>
          <mat-hint>Number of Racks the tank can hold</mat-hint>
          <input matInput type="number" formControlName="freezer" required>
        </mat-form-field>
      </p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Rack</ng-template>
      <mat-form-field>
        <mat-label>Rack Capacity</mat-label>
        <mat-hint>Number of Boxes each Rack can hold</mat-hint>
        <input matInput type="number" formControlName="rack" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Box</ng-template>
      <mat-form-field>
        <mat-label>Box Row</mat-label>
        <mat-hint>Number of Rows in each Box</mat-hint>
        <input matInput type="number" formControlName="box_x" required>
      </mat-form-field><BR>
      <mat-form-field>
        <mat-label>Box Column</mat-label>
        <mat-hint>Number of Columns in each Box</mat-hint>
        <input matInput type="number" formControlName="box_y" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>{{done_message}}</p>
      @if (IsReady) {
        <div>{{freezer_spec}}</div>
      }
      <p>
        @if (IsReady) {
          <button mat-button (click)="create_freezer()"><mat-icon>create</mat-icon>Create</button>
        }
      </p>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
