@if (IsWait) {
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
}

<h2>Order List</h2>
<div>
  <mat-form-field class="sep">
    <mat-label>Period</mat-label>
    <mat-select (selectionChange)="check_date()" [formControl]="period_control">
      @for (period of period_list; track period) {
        <mat-option [value]="period.id">{{period.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (showRange) {
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="getReport()" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      @if (range.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
        } @if (range.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
      }
    </mat-form-field>
  }

  <mat-form-field class="long_select">
    <mat-label>Status</mat-label>
    <mat-select #el_status_control [formControl]="status_control" multiple (selectionChange)="getReport()">
      @for (status of status_list; track status) {
        <mat-option [value]="status">{{status}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<mat-label>Filter</mat-label>
<input matInput (keyup)="applyFilter($event)" placeholder="Ex. new" #input />
<div style="width: 3500px">
  <mat-table
    style="width: 100%"
    class="table-container"
    #table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          matTooltip="Click to edit.view the Order"
          (click)="edit(element.id)"
          style="vertical-align: middle">
          ORDER-{{element.id}}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(element.id)">
            <mat-icon>edit</mat-icon>
            <span>Manage</span>
          </button>

          <button mat-menu-item (click)="history(element.id)">
            <mat-icon>history</mat-icon>
            <span>View History</span>
          </button>
          <mat-divider></mat-divider>
          @if (can_approve) {
            <button mat-menu-item (click)="approve(element.id)">
              <mat-icon>check</mat-icon>
              <span>Approve the Order</span>
            </button>
          }
          @if (can_fill) {
            <button mat-menu-item (click)="fill(element.id)">
              <mat-icon>fill</mat-icon>
              <span>Fill the Order</span>
            </button>
          }
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Click for more actions">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</th>
        <td mat-cell *matCellDef="let row">{{column.cell(row)}}</td>
      </ng-container>
    }

    <!--ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <!--button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
      @if (expandedElement === element) {
        <mat-icon>keyboard_arrow_up</mat-icon>
      } @else {
        <mat-icon>keyboard_arrow_down</mat-icon>
      }
    </button>
  </td>
</ng-container-->
<!--ng-container matColumnDef="expandedDetail">
<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
  <div class="example-element-detail"
    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
    <div>
      <div><table>
        <tr>
          <td> Purpose:</td><td class="data_value">{{element.req_purpose}} </td>
          <td> Requestor:</td><td class="data_value">{{element.full_display_name}} </td>
          <td> Project Code:</td><td class="data_value">{{element.external_project_identifier}} </td>
          <td> Project Phase:</td><td class="data_value">{{element.req_project_phase}} </td>
          <td> Protein Needed by:</td><td class="data_value">{{element.req_needed_by}} </td>
          <td> Production Site:</td><td class="data_value">{{element.req_prod_site}} </td>
          <td> Follow-up Site: </td><td class="data_value">{{element.req_follow_site}} </td>
          <td> Molbio needed: </td><td class="data_value">{{element.req_dna_new}} </td>
        </tr>
      </table>
    </div>
  </div>

</div>
</td>
</ng-container-->
<tr class="mat-row" *matNoDataRow>
  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
</tr>
<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header"></tr>
<tr
  mat-row
  *matRowDef="let element; let even = even;  columns: displayedColumns;"
[ngClass]="{gray: even}"></tr>
<!--tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr-->
</mat-table>

<mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[20, 50, 100]" [showFirstLastButtons]="true">
</mat-paginator>
</div>
<button mat-raised-button color="primary" (click)="exportAsExcel()">
  <mat-icon>file_copy</mat-icon>Export as Excel
</button>
