<h2>@if (! embed) {
  <span>Cell Line Database:</span>
  } <span class="data_value"> {{safety_label}}</span></h2>
  @if (IsWait) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  }

  <!--
  7. hpv_assay_result, ebv_assay_result,
  8. cmv_assay_result,
  9. biosafety_comment
  -->
  <form [formGroup]="safety_form">
    <table>
      <tr>
        <td class="required">Accession ID</td>
        <td>
          <mat-form-field>
            <input
              #el_accession_id:
              type="number"
              matInput
              formControlName="accession_id"
              (click)="select_accession()"
              readonly />
          </mat-form-field>
        </td>
        <td class="label_row">Biosafety Level</td>
        <td>
          <mat-form-field>
            <input matInput formControlName="biosafety_level" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="padding-left: 150px">
          <mat-checkbox formControlName="gmo"><span class="label_row">Genetically modified</span></mat-checkbox>
        </td>
        <td class="label_row">Expiration Date</td>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="expiration_date" />
            <mat-hint></mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="label_row">GenTG level</td>
        <td>
          <mat-form-field>
            <mat-select formControlName="gentg_level">
              @for (type of gentg_level_list; track type) {
                <mat-option [value]="type"> {{type}} </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td class="label_row">GenTG #</td>
        <td>
          <mat-form-field>
            <input matInput formControlName="t1" />
          </mat-form-field>
        </td>
      </tr>
      <tr>


      </tr>
      <tr>
        <td class="label_row">Contact Person</td>
        <td>
          <mat-form-field style="width: 300px">
            <input
              type="text"
              matInput
              placeholder="Contact"
              aria-label="Contact"
              formControlName="contact_person"
              [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              @for (option of contact_list ; track option) {
                <mat-option [value]="option"> {{option.name}} </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <td class="label_row">Risk Group</td>
        <td>
          <mat-form-field>
            <input matInput formControlName="risk_group" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="label_row">Risk Assessment</td>
        <td colspan="3">
          <mat-form-field class="long_text">
            <input matInput formControlName="risk_accessment" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="label_row">Comment</td>
        <td colspan="3">
          <mat-form-field class="long_text">
            <textarea matInput style="height: 100px" formControlName="comment"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <p>
    @if (me && (me.admin > 0 || me.accession > 0)) {
      <button mat-raised-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>Save
      </button>
    }

    <mat-expansion-panel expanded="attach_file_list &&  attach_file_list.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title> <h3>Attached File {{attach_file_list.length}}</h3> </mat-panel-title>
      </mat-expansion-panel-header>
      @if (attach_file_list && attach_file_list.length > 0){ @for(file of attach_file_list; track file.id){
        <div>
          @if (me && (me.admin || me.accession)) {
            <button
              mat-button
              color="warn"
              (click)="delete_file(file.id, file.file_name)">
              <mat-icon>delete</mat-icon><span>Delete</span>
            </button>
          }
          <a href="{{VIEW_FILE}}{{file.id}}" target="_blank"> {{file.file_name}}</a>
        </div>
        } }
        @if (me && (me.admin || me.accession)) {
          <div draggable="true" ngClass="{{dragAreaClass}}">
            <div class="row">
              <div class="col-md-12 text-center">
                Drag files here
                <a href="javascript:void(0)" (click)="file.click()"> or click to open </a>
                <input type="file" #file [multiple]="true" (change)="onFileChange($event)" style="display: none" />
              </div>
            </div>
          </div>
        }
        @if (batch_file && batch_file.length > 0) {
          <div>
            <h3>Total {{batch_file.length}} file</h3>
            <p></p>
            <ul>
              @for (f of batch_file; track f; let i = $index) {
                <li style="width: 800px; display: block">
                  {{f.name}} ({{f.size}} bytes)
                  <button mat-icon-button color="warn" (click)="remove_file(i)"><mat-icon>close</mat-icon></button>
                </li>
              }
            </ul>
            <p>
              <button mat-flat-button (click)="load_multiple()"><mat-icon>create</mat-icon>Load</button>
            </p>
          </div>
        }
      </mat-expansion-panel>
    </p>
